:root {
    --primary: #282b30;
    --secondary: #36393e;
    --light: #424549;
    --accent: #7289da;
    --textColor: #fafbfc;
}

* {
    box-sizing: border-box;
}

body {
    background: var(--primary);
}

h1 {
    font-family: Poppins, sans-serif;
    color: var(--textColor);
    text-align: center;
    font-size: 3rem;
    margin-top: 4rem;
}

button {
    border: 0;
    background-color: var(--secondary);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
}

div {
    display: flex;
    justify-content: center;
}
