:root {
    --primary: #282b30;
    --secondary: #36393e;
    --light: #424549;
    --accent: #7289da;
    --textColor: #fafbfc;
}

* {
    box-sizing: border-box;
}

body {
    background: var(--primary);
}

header {
    display: flex;
    justify-content: space-between;
    margin: 2rem;
}

header img, header form {
    height: 3rem;
}

form input {
    border: 0;
    border-radius: 5px;
    user-select: auto;
    height: 3rem;
    color: var(--textColor);
    font-size: 1rem;
    background-color: var(--light);
}

h1, h2, h3 {
    font-family: Poppins, sans-serif;
    color: var(--textColor);
    text-align: center;
    font-size: 2rem;
}

.dashboard-grid {
    display: flex;
    border: 1px solid var(--primary);
    justify-content: space-around;
    background-color: var(--secondary);
    border-radius: 10px;
    margin: clamp(2em, 1.6vw, 6em);
    text-align: center;
}

.dashboard-grid:hover {
    transform: scale(102%);
    transition-duration: 300ms;
    cursor: pointer;
}
