:root {
    --primary: #282b30;
    --secondary: #36393e;
    --light: #424549;
    --accent: #7289da;
    --textColor: #fafbfc;
}

* {
    box-sizing: border-box;
}

body {
    background: var(--primary);
}

.accent {
    color: var(--accent);
}

header {
    display: flex;
    justify-content: space-between;
    margin: 2rem;
}

header img, header form {
    height: 3rem;
}

form input {
    border: 0;
    border-radius: 5px;
    user-select: auto;
    height: 3rem;
    color: var(--textColor);
    font-size: 1rem;
    background-color: var(--light);
}

h1, h2 {
    font-family: Poppins, sans-serif;
    color: var(--textColor);
    text-align: center;
    font-size: 2rem;
}

h3 {
    font-family: Poppins, sans-serif;
    color: var(--textColor);
    text-align: center;
    font-size: 1.1rem;
}

.dashboard-grid {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid var(--primary);
    justify-content: space-around;
    background-color: var(--secondary);
    border-radius: 10px;
    margin: clamp(0.3em, 1.6vw, 0.4em);
    text-align: center;
    width: 45%;
    float: left;
    flex-direction: column;
    align-items: center;
}

.dashboard-grid:hover {
    transform: scale(102%);
    transition-duration: 300ms;
    cursor: pointer;
}

.box {
    width: 50%;
}

.container {
    display: flex;
    flex-wrap: wrap;
}