body {
    overflow: hidden;
    height: 100vh;
    scrollbar-color: var(--accent) var(--secondary);
    scrollbar-width: thin;
}

.body-container {
    display: flex;
    height: 100%;
}

#sidebar {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100%;
    padding-bottom: 13rem;
    font-family: Poppins, sans-serif;
}

#sidebar li {
    text-decoration: none;
    margin: 0.5rem 0;
    list-style-type: none;
}
