<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Stock Tracker</title>
   <link rel="stylesheet" href="/static/css/dashboard.css">
   <link rel="icon" type="image/x-icon" href="/static/icons/favicon.ico">
</head>
<body>
<script>
   let url = '{{ url }}';
</script>
<header>
   <a href="/">
      <img src="/static/images/logo.png" alt="Logo" onclick=""{{ url_for('views.dashboard') }}"">
   </a>
   <form class="search" autocomplete="off" action="{{ url_for('views.stock') }}" method="GET">
      <input type="text" name="symbol" placeholder="Search stock..." required>
      <input type="submit" value="Submit">
   </form>
</header>
<script src="/static/js/dashboard.js"></script>
</body>
</html>