<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stock Tracker</title>
    <link rel="stylesheet" href="/static/css/dashboard.css">
    <link rel="icon" type="image/x-icon" href="/static/icons/favicon.ico">
</head>
<body>
    <h1>Stock Tracker</h1>
    <h2>Wooo we love stocks</h2>
    <form class="search" autocomplete="off" action="{{ url_for('main.stock') }}" method="GET">
        <input type="text" name="symbol" placeholder="Give stock..." required>
        <input type="submit" value="Submit">
    </form>
</body>
</html>