<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Stock Tracker</title>
   <link rel="stylesheet" href="/static/css/dashboard.css">
   <link rel="icon" type="image/x-icon" href="/static/icons/favicon.ico">
   <script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js" defer></script>
</head>
<body>
   <div id="chart"></div>
   <p id="data" style="display:none;">{{ data }}</p>
   <script src="/static/js/charts.js"></script>
</body>
</html>
