<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Stock Tracker</title>
   <link rel="stylesheet" href="/static/css/dashboard.css">
   <link rel="stylesheet" href="/static/css/stock.css">
   <link rel="icon" type="image/x-icon" href="/static/icons/favicon.ico">
   <script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js" defer></script>
   <script src="/static/js/charts.js" defer></script>
   <script src="/static/js/sidebar.js" defer></script>
   <script src="/static/js/stockMenu.js" defer></script>
   <script defer>let url = '{{ url }}';</script>
</head>
<body>
<header>
   <a href="/">
      <img src="/static/images/logo.png" alt="Logo">
   </a>
   <h1><span class="accent">{{ symbol }}</span> Company Overview</h1>
   <a href="/">
      <button >Back to dashboard</button>
   </a>
</header>
<section class="body-container">
   <div id="left-container">
      <div id="chart"></div>
      <h3>View more stocks</h3>
      <div id="stockMenu"></div>
   </div>
   <ul id="sidebar">
   </ul>
</section>
   <p id="data" style="display:none;">{{ data }}</p>
   <p id="overview" style="display:none;">{{ overview }}</p>
</body>
</html>
